<footer>
  <span>&copy; {{ site.time | date: '%Y' }} {{ site.first_name }} {{ site.last_name }} &middot; University of Vermont</span>
  <div class="f-links">
    <a href="mailto:{{ site.email | encode_email }}">Email</a>
    <a href="https://scholar.google.com/citations?user=JUR4M0gAAAAJ">Google Scholar</a>
    <a href="https://github.com/{{ site.github_username }}">GitHub</a>
  </div>
  <img class="footer-friend" src="{{ '/assets/img/hero/tricycle.jpg' | relative_url }}" alt="Yellow tricycle in the Philippines">
</footer>
