<div style="line-height: 1.8;">
  {% for content in entry.contents %}
    <div style="margin-bottom: 1.5em; border-left: 3px solid #e0e0e0; padding-left: 1em;">
      {% if content.year %}
        <div style="color: #666; font-size: 0.95em; margin-bottom: 0.3em;">{{ content.year }}</div>
      {% endif %}
      {% if content.title %}
        <strong style="display: block; margin-bottom: 0.2em;">{{ content.title }}</strong>
      {% endif %}
      {% if content.institution %}
        <em style="color: #555; display: block; margin-bottom: 0.5em;">{{ content.institution }}</em>
      {% endif %}
      {% if content.description %}
        <ul style="margin-left: 1em; padding-left: 0;">
          {% for item in content.description %}
            <li style="margin-bottom: 0.3em;">
              {% if item.contents %}
                <strong>{{ item.title }}</strong>
                <ul style="margin-left: 1em; margin-top: 0.2em;">
                  {% for subitem in item.contents %}
                    <li>{{ subitem }}</li>
                  {% endfor %}
                </ul>
              {% else %}
                {{ item }}
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
      {% if content.items %}
        <ul style="margin-left: 1em; padding-left: 0;">
          {% for item in content.items %}
            <li style="margin-bottom: 0.3em;">
              {% if item.contents %}
                <strong>{{ item.title }}</strong>
                <ul style="margin-left: 1em; margin-top: 0.2em;">
                  {% for subitem in item.contents %}
                    <li>{{ subitem }}</li>
                  {% endfor %}
                </ul>
              {% else %}
                {{ item }}
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  {% endfor %}
</div>